.bar-container
  -for entry in graph.normalized_entries
    .entry-container(id="entry-{{ graph.id }}-{{ entry.id }}",
                     style='height: {{ entry.years }}%;')
      .entry(class="{% cycle 'odd' 'even' %} {{ entry.future }}",
             style='height: 100%; width: {{ entry.percentage }}%;')
        .persons(style='width: {{ entry.person_percentage }}%') &nbsp;
      -if graph.show_descriptions and entry.description
        .description
          .line(class="{{ entry.small_entry }}")
          .text(class="{{ entry.small_entry }}")
            | {{ entry.description }}
            -if entry.small_entry
              |  ({{ entry.age }})
        .description-line(style="width: {{ entry.description_percentage }}%", class="{{ entry.small_entry }}")
          .line-dot(class="{{ entry.small_entry }}")
  .entry.empty

