.list-item
  .graph-area(class="{% if not original %}comparable{% endif %}")
    .graph-container
      -include 'partials/bare_graph.pug'
  .description
    a(href="{% url 'view-graph' graph.uuid %}") {{ graph.description }}
