@font-face
  font-family: "Franziska"
  src: url("/static/fonts/Franziska.otf") format("opentype")

//colors
$red: #ff1236
$bg-gray: #E4E4E3
$lines-gray: gray

body
  font-family: "Franziska", serif

// INDEX PAGE
.app
  display: flex
  height: 100%
  flex-direction: row
  align-content: stretch

.graph-area
  padding: 20px

.asteriskField
  display: none

h2
  font-size: 2em
  border-bottom: 10px $red solid
  padding-bottom: 10px
  margin-bottom: 20px

.navigation
  background: $bg-gray
  width: 250px
  padding: 20px

  h1
    font-size: 2.2em
    border-bottom: 15px $red solid
    padding-bottom: 15px
    margin-bottom: 30px

  a, a:visited, a:hover
    color: black
    text-decoration: none
    h3
      border-bottom: 7px $red solid
      padding-bottom: 10px


// EDITOR PAGE
.editor-container
  height: 100%
  display: flex
  justify-content: center
  align-items: center

  hr
    border-top: 5px solid $red
    margin: 10px 0

  .editor
    width: 90%
    height: 90%
    box-shadow: 5px 5px 24px 3px rgba(0,0,0,0.42)
    display: flex

    .left
      background: $bg-gray
      padding: 20px
      height: 100%
      width: 500px

      .element
        border-bottom: 7px $red solid
        padding-bottom: 10px

    .right
      padding: 20px
      height: 100%
      flex-grow: 1

  #area_bio
    .form-group
      width: 25%
      display: inline-block
      margin-right: 10px
      margin-bottom: 0

  input, input:focus
    border: 1px solid black
    border-radius: 0
    background: transparent
    padding: 0.2em
    font-family: "Franziska", serif

  input:focus
    border: 1px solid $red

.bio_container
  width: 200px
  height: 423px
  //border: 1px dotted red
  position: relative
  box-sizing: border-box
  //display: flex

  .bar_container
    //display: flex
    //align-items: center
    //flex-direction: row
    //flex-wrap: wrap
    height: 400px
    transform: rotate(180deg)

    .entry
      text-align: center
      margin: 0 auto
      position: relative
      &.odd
        background: lightgrey
      &.even
        background: darkgrey
      transform: rotate(180deg)

      .persons
        height: 100%
        margin: 0 auto
        &.odd
          background: $red
        &.even
          background: $red
        opacity: 0.5

  .measurement
    position: absolute
    bottom: 0
    text-align: center
    border-right: 1px solid $lines-gray
    border-left: 1px solid $lines-gray
    width: 100%
    height: 23px
    span
      background: white
      padding: 0 5px
      position: relative
      color: $lines-gray
    hr
      position: relative
      top: 12px
      margin: 0
      border-top: 1px solid $lines-gray
