@font-face
  font-family: "Franziska"
  src: url("/static/fonts/Franziska.otf") format("opentype")

//colors
$red: #ff1236
$bg-gray: #E4E4E3
$bg-light-gray: #eceeef
$lines-gray: gray

body
  font-family: "Franziska", serif

// INDEX PAGE
.app
  display: flex
  height: 100%
  flex-direction: row
  align-content: stretch

.graph-area
  flex-grow: 1

.asteriskField
  display: none

h2
  font-size: 2em
  border-bottom: 10px $red solid
  padding-bottom: 10px
  margin-bottom: 20px

.navigation
  background: $bg-gray
  width: 250px
  padding: 20px

  h1
    font-size: 2.2em
    border-bottom: 15px $red solid
    padding-bottom: 15px
    margin-bottom: 30px

  a, a:visited, a:hover
    color: black
    text-decoration: none
    h3
      border-bottom: 7px $red solid
      padding-bottom: 10px


// EDITOR PAGE
.editor-container
  height: 100%
  display: flex
  justify-content: center
  align-items: center

  hr
    border-top: 4px solid $red
    margin: 10px 0

  .editor
    width: 95%
    height: 95%
    box-shadow: 5px 5px 24px 3px rgba(0,0,0,0.42)
    display: flex

    .left
      background: $bg-gray
      padding: 20px
      height: 100%
      width: 500px
      overflow-y: auto
      position: relative

      .element
        border-bottom: 7px $red solid
        padding-bottom: 10px

    .right
      padding: 20px
      height: 100%
      flex-grow: 1
      display: flex
      flex-direction: column

  #area_bio
    .form-group
      width: 25%
      display: inline-block
      margin-right: 10px
      margin-bottom: 0

  input, input:focus
    border: 1px solid black
    border-radius: 0
    background: transparent
    padding: 0.2em
    font-family: "Franziska", serif
    &.has-error
      border: 1px solid $red

  span.input-group-addon
    border: 1px solid black
    border-radius: 0
    padding: 2px 7px


  input:focus
    border: 1px solid $red
  td
    padding: 2px

  .add-entry
    padding: 5px
    text-align: center
    cursor: pointer
    margin: 0.3em 0
    width: 435px
    &:hover
      background: $bg-light-gray
      i
        color: $red
        transform: rotate(90deg)
    i
      transition: 0.3s

  i.delete
    transition: 0.3s
    background: $bg-gray
    &:hover
      color: $red
      cursor: pointer
      transform: rotate(-90deg)

  .table-area
    list-style: none
    padding: 0
    display: table
    margin-bottom: 0
    li
      display: table-row
      .cell
        display: table-cell
        padding: 2px
      .one
        width: 50px
      .two
        width: 50px
      .three
        width: 90px
      .four
        width: 190px
      .five
        width: 20px
        text-align: right

  .two input, .three input
    text-align: center

  .one input
    text-align: right

  .buttons
    display: flex
    justify-content: flex-end
    text-align: right

    .button
      border: 3px solid $red
      background: $bg-gray
      margin-left: 7px
      outline: none
      padding: 3px 7px
      width: 80px
      text-align: center
      color: black
      text-decoration: none

.graph-area
  background: red
  //border: 1px dotted red
  display: flex
  flex-direction: column-reverse

  .bar_container
    background: blue
    flex-grow: 1

    .entry
      text-align: center
      margin: 0 auto
      position: relative
      &.odd
        background: lightgrey
      &.even
        background: darkgrey
      transform: rotate(180deg)

      .persons
        height: 100%
        margin: 0 auto
        &.odd
          background: $red
        &.even
          background: $red
        opacity: 0.5

  .measurement
    background: cyan
    text-align: center
    border-right: 1px solid $lines-gray
    border-left: 1px solid $lines-gray
    width: 100%
    height: 23px
    flex-grow: 0
    span
      background: white
      padding: 0 5px
      position: relative
      color: $lines-gray
    hr
      position: relative
      top: 12px
      margin: 0
      border-top: 1px solid $lines-gray
