-extends 'index.pug'

block content
  .app
    // navigation pane
    .navigation
      a(href='/')
        h1 FLÄCHEN-BIOGRAFIEN

      a(href='/graph/add')
        h3 eigene Flächenbiografie erstellen

      a(href='#')
        h3 Stöbern

    .list-area
      -for graph in object_list
        .list-item
          .graph-area
            .graph-container
              {{ graph.bare_display }}
          .description
            {{ graph.description }}

