-extends 'index.pug'
-load static i18n

block content
  .app
    // navigation pane
    .navigation
      a(href='/')
        h1 FLÄCHEN-BIOGRAFIEN

      a(href='/graph/add')
        h3 eigene Flächenbiografie erstellen

      h3.browse
        -trans "Browse"
      .controls
        p Land:
          select(v-model="country", @change="updateGraphs")
            option(value="") Alle
            - for country in countries
              option {{ country }}
        -verbatim
          p Alter: {{ minAge }} - {{ maxAge }} Jahre
          #age-slider.fly.wrap

    .list-area
      -for graph in object_list
        .list-item(@click="viewGraph('{{graph.uuid}}')")
          .graph-area
            .graph-container
              {{ graph.bare_display_stretched }}
          .description {{ graph.description }}

    #graphView.modal.fade(role="dialog", tabindex="-1")
      .modal-dialog
        .modal-content
          .modal-body
            button.close(type="button", data-dismiss="modal", aria-label="Close")
              span(aria-hidden="true") &times;
            .graph-area

block extra_script
  script(src="{% static 'js/omni-slider.js' %}")
  script(src="{% static 'js/vue.js' %}")
  script(src="{% static 'js/superagent.js' %}")
  script(src="{% static 'js/area_list.js' %}")
