-extends 'index.pug'
-load static i18n

block content
  .app
    // navigation pane
    .navigation
      h1 FLÄCHEN-BIOGRAFIEN

      a(href='#', @click="createNewBio")
        h3 eigene Flächenbiografie erstellen

      h3.browse
        -trans "Browse"
      .controls
        p Land:
          select(v-model="country", @change="updateGraphs")
            option(value="") Alle
            - for country in countries
              option {{ country }}
        -verbatim
          p Alter: {{ minAge }} - {{ maxAge }} Jahre
          #age-slider.fly.wrap

    .list-area
      -for graph in object_list
        .list-item(@click="viewGraph('{{ graph.uuid }}', '{{ graph.description }}', '{{ graph.median_usage}}')")
          .graph-area
            .graph-container
              {{ graph.bare_display_stretched }}
          .description {{ graph.description }}

    #graphView.modal.fade(role="dialog", tabindex="-1")
      .modal-dialog
        .modal-content
          .modal-body
            .title(v-text="currentGraph")
            button.close(type="button", data-dismiss="modal", aria-label="Close")
              span(aria-hidden="true") &times;
            .graph-area
            #legend
              | persönlicher Flächenverbrauch:
              span(v-text="' ' +median_usage")
              | m²
              div(v-show='showLegend')
                | Kurze Lebensabschnitte (Alter)
                .entries
  #intro.modal.fade(role="dialog", tabindex="-1")
    .modal-dialog
      .modal-content
        .modal-body
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h2 Wie viel Wohnfläche zu welchem Zeitpunkt?
          p.
            1991 lebte der »Durchschnittsbürger« auf rund 35 m² Wohnfläche, 2002 waren es schon 40 m²
            und bis 2014 steigerte sich der Schnitt auf 46,5 m². Im Vergleich dazu beträgt die
            Pro-Kopf-Wohnfläche in den USA 75 m², in Russland 22 m², in der Türkei 18 m² und in
            Nigeria 6 m² (2014).
          p.
            Öfter verläuft die individuelle »Flächenbiografie« jedoch anders als geplant:
            Konzipiert für die Maximalbelegung mit einer Familie und zwei Kindern wird die Wohnung
            in dieser Größe nur einen relativ kurzen Zeitraum im Vergleich zur gesamten Lebenserwartung
            genutzt. Wie ist der eigene Flächenverbrauch - in einzelnen Lebensphasen
            und im Durchschnitt gesamten Lebens?

          .buttons
            a.button(href="#", data-dismiss="modal") Weiter >>

  #newBio.modal.fade(role="dialog", tabindex="-1")
    .modal-dialog
      .modal-content
        .modal-body
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h2 Individuelle Flächenbiografie erstellen
          p.
            Zur Erstellung der individuellen Flächenbiografie sind die eigene (geschätzte) Wohnfläche mit
            einem zeitlichen Bezug in der Tabelle anzugeben – von der Geburt bis heute.
          p.
            Die Grafiken veranschaulichen, an welchen «Sollbruchstellen» innovative Wohnformen eine große
            Einsparung an Fläche, Kosten und Ressourcen erreichen können.
          p.
            Rot dargestellt sind in der Grafik die Wohnfläche pro Person bis heute und die gesamte
            verfügbare Wohnfläche ist grau markiert.

          .buttons
            a.button(href="/graph/add") Los geht's >>










block extra_script
  script(src="{% static 'js/omni-slider.js' %}")
  script(src="{% static 'js/vue.js' %}")
  script(src="{% static 'js/superagent.js' %}")
  script(src="{% static 'js/area_list.js' %}")
