-extends 'index.pug'
-load static

block content
  .app
    // navigation pane
    .navigation
      a(href='/')
        h1 FLÄCHEN-BIOGRAFIEN

      a(href='/graph/add')
        h3 eigene Flächenbiografie erstellen

      a(href='#')
        h3 Stöbern
      -verbatim
        .controls
          p Alter: {{ minAge }} - {{ maxAge }} Jahre
          #age-slider.fly.wrap

    .list-area
      -for graph in object_list
        .list-item
          .graph-area
            .graph-container
              {{ graph.bare_display_stretched }}
          .description
            {{ graph.description }}

block extra_script
  script(src="{% static 'js/omni-slider.js' %}")
  script(src="{% static 'js/vue.js' %}")
  script(src="{% static 'js/superagent.js' %}")
  script(src="{% static 'js/area_list.js' %}")
