-extends 'index.pug'
-load static i18n

block content
  .app
    // navigation pane
    .navigation
      a(href="/")
        h1 FLÄCHEN-BIOGRAFIEN

      a(href='/graph/add')
        h3 eigene Flächenbiografie erstellen

      h3.browse
        -trans "Browse"
      .controls
        p Stadt:
          select(v-model="country", @change="updateGraphs")
            option(value="") Alle
            - for city in cities
              option {{ city }}
        -verbatim
          p Alter: {{ minAge }} - {{ maxAge }} Jahre
          #age-slider.fly.wrap

    .list-area
      .intro-text
        p.center
          strong Wie viel Wohnfläche zu welchem Zeitpunkt?
          br
          br
          | Wieviel Raum ist genug? 1991 lebte der »Durchschnittsbürger« auf rund 35 m²
          |  Wohnfläche, heute sind es über 46 m², Tendenz steigend.
          br
          br
          | Doch Größe wird überschätzt: Ein großzügiges und vielfältiges Raumangebot
          |  ist keine Frage der Quadratmeterzahl, sondern einer klugen Konzeption.
          |  Neue Wohnformen zeigen, wie eine besondere Wohnqualität mit einer
          |  reduzierten Fläche erreicht wird.
          br
          br
          strong Individuelle Flächenbiografie erstellen
          br
          br
          | Auf wieviel Fläche haben Sie in den einzelnen Lebensphasen gewohnt und
          |  was bringt der Ausblick in die Zukunft?
          br
          br
          | Beschreiben Sie Ihre bisherige und künftige (geschätzte) Wohnsituation
          |  und vergleichen Sie Ihre persönliche Flächenbiografie mit anderen
          |  Biografien.
          br
          br
          | Die Projektion in die Zukunft konfrontiert den Einzelnen mit seinem
          |  hypothetischen, individuellen «Flächenschicksal».
          |  An «Sollbruchstellen» – wie die erste eigene Wohnung oder der Auszug
          |  der Kinder – können innovative Wohnformen Fläche und Kosten sparen.

      -for graph in object_list
        .list-item(@click="viewGraph('{{ graph.uuid }}', '{{ graph.description }}', '{{ graph.median_usage }}')")
          .graph-area
            .graph-container
              {{ graph.bare_display_stretched }}
          .description {{ graph.description }}

    #graphView.modal.fade(role="dialog", tabindex="-1")
      .modal-dialog
        .modal-content
          .modal-body
            .title(v-text="currentGraph")
            .subtitle wohnt auf durchschnittlich
              span(v-text="' ' + currentMedian")
              | m² im Jahr
            button.close(type="button", data-dismiss="modal", aria-label="Close")
              span(aria-hidden="true") &times;
            .graph-area
            #legend
              div(v-show='false')
                | Kurze Lebensabschnitte (Alter)
                .entries
            #main-legend Legende
              .entries
                span.marker.bg-gray &nbsp;
                |  gesamte Wohnfläche
                br
                span.marker.bg-red &nbsp;
                |  Wohnfläche pro Person
                br
                span.marker.bg-yellow &nbsp;
                |  künftige Wohnfläche

block extra_script
  script(src="{% static 'js/omni-slider.js' %}")
  script(src="{% static 'js/vue.js' %}")
  script(src="{% static 'js/superagent.js' %}")
  script(src="{% static 'js/area_list.js' %}")
