{% extends 'index.html' %}

{% block content %}

<div class="bio_container">
  <div class="bar_container">
    {% for entry in bio.entries.all %}
      <div class="entry {% cycle 'odd' 'even' %}"
           style="height: {{ entry.years }}px; width: {{ entry.percentage }}%;">
        <div class="persons {% cycle 'odd' 'even' %}"
             style="width: {{ entry.person_percentage }}%"></div>
      </div>
    {% endfor %}
  </div>


{#  <div class="measurement">#}
{#    <hr>#}
{#    <span>#}
{#      {{  bio.max_space }} m²#}
{#    </span>#}
{#  </div>#}

</div>

{%  endblock %}
