-extends 'index.pug'
-load crispy_forms_tags i18n static

block extra_script
  script(src="{% static 'js/vue.js' %}")
  script(src="{% static 'js/superagent.js' %}")
  script(src="{% static 'js/done.js' %}")


block content
  #app.popup-container

    .popup.done
      .left.white
        h2 {{ graph }}

        a(href="{% url 'edit-graph' graph.uuid %}")
          h4
            i.fa.fa-angle-double-left.red
            |  Weiter bearbeiten

        a(href="#", @click="show('.compare')")
          h4
            i.fa.fa-angle-right.red(:class="openCompare")
            |  Flächenbiografie vergleichen
        .compare
          p.
            Im grafischen Vergleich lässt sich der eigene Flächenverbrauch, der im Hintergrund farbig dargestellt ist,
            mit den Wohnflächenangaben anderer Nutzer vergleichen.
          .input-group
            span.input-group-addon {{ graph.age }} Jahre +/-
            input.textInput.form-control(maxlength='150', name='name', type='text', v-model='range', @keyup.enter="compare")
            span.input-group-addon Jahre
          .buttons
            a.button(href="#", @click="compare") Anzeigen



        a(href="#", @click="show('.discard')")
          h4
            i.fa.fa-angle-double-left.red
            |  Zurück zur Startseite
        .discard
          p Hier geht es zurück zur Startseite.
          .buttons
            a.button(href="#", onclick="$('.discard').slideUp(); app.open_tab=undefined;") Noch nicht
            a.button(href="/") Okay

      .right
        .graph-area
          -include 'partials/full_graph.pug'

  script.
    var auth_token = "Token {{ token }}";
    var graph_id = {{ graph.id }};
