-extends 'index.pug'
-load crispy_forms_tags i18n static

block extra_script
  script(src="{% static 'js/vue.js' %}")
  script(src="{% static 'js/superagent.js' %}")
  script(src="{% static 'js/done.js' %}")


block content
    #app.popup-container

      .popup.done
        .left.white
          h2 {{ graph }}

          a(href="#")
            h4 Zur Sammlung hinzufügen
          a(href="#")
            h4 Vergleichen
          a(href="#")
            h4 Per Email schicken
          a(href="/")
            h4 Stöbern

        .right
          .graph-area
            -include 'partials/full_graph.pug'
