-extends 'index.pug'
-load crispy_forms_tags i18n static

block extra_script
  script(src="{% static 'js/vue.js' %}")
  script(src="{% static 'js/superagent.js' %}")
  script(src="{% static 'js/done.js' %}")


block content
  #app.popup-container

    .popup.done
      .left.white
        h2 {{ graph }}

        a(href="#", @click="show('.publish')")
          h4 Zur Sammlung hinzufügen
        .publish
          .unpublished(v-show="!bio.published")
            p Deine Flächenbiografie wird veröffentlicht und für Vergleiche bereitegestellt.
            .buttons
              a.button(href="#", onclick="$('.publish').slideUp(); app.open_tab=undefined;") Doch nicht
              a.button(href="#", @click="publish") Okay
          .published(v-show="bio.published")
            p Deine Flächenbiografie wurde veröffentlicht.


        a(href="#", @click="show('.compare')")
          h4 Vergleichen
        .compare
          p Vergleiche Dich mit anderen.
          .input-group
            span.input-group-addon +/-
            input.textInput.form-control(maxlength='150', name='name', type='text', v-model='range', @keyup.enter="compare")
            span.input-group-addon Jahre
          .buttons
            a.button(href="#", @click="compare") Anzeigen


        a(href="#", @click="show('.email')")
          h4 Per Email schicken
        .email
          .send-mail(v-show='!mail_sent')
            p Trage Deine Mailadresse ein, um Dir Deine Flächenbiograpie zuzusenden.
            .input-group
              span.input-group-addon
                i.fa.fa-envelope
              input.textInput.form-control(maxlength='150', name='email',
                                           type='text', v-model='email', @keyup.enter="sendGraph")
            .buttons
              a.button(href="#", @click="sendGraph") Zusenden
          .mail-sent(v-show='mail_sent')
            p Deine Flächenbiografie wurde versendet.

        a(href="#", @click="show('.discard')")
          h4 Stöbern
        .discard
          p Hier geht es zurück zur Startseite.
          p
            span(v-show="!bio.published") Deine Flächenbiografie wird nicht
              a(href='#', @click="show('.publish')")
                |  veröffentlicht
              | werden.
          p(v-if="!mail_sent")
            a(href="#", @click="show('.email')") Sende Dir Deine Flächenbiographie vorher zu
            | , um sie Dir später noch mal ansehen zu können
            span(v-show="!bio.published"), alle Daten gehen sonst verlohren.
            span(v-show="bio.published") .
          .buttons
            a.button(href="#", onclick="$('.discard').slideUp(); app.open_tab=undefined;") Noch nicht
            a.button(href="/") Okay

      .right
        .graph-area
          -include 'partials/full_graph.pug'

  script.
    var auth_token = "Token {{ token }}";
    var graph_id = {{ graph.id }};
