-load compress static

html
  head
    title
      block title
        | Flächenbiografien
    meta(name="viewport", content="initial-scale=1.0")
    -compress css
      link(rel="stylesheet", href="{% static 'css/bootstrap.min.css' %}")
      link(rel="stylesheet", href="{% static 'css/font-awesome.css' %}")
      link(rel="stylesheet", href="{% static 'css/omni-slider.css' %}")
      link(rel="stylesheet", href="{% static 'css/fly.css' %}")
      link(rel='stylesheet', type='text/x-sass', href='{% static "sass/styles.sass" %}')
    script(src="{% static 'js/tether.min.js' %}")

body
  block content


  -compress js
    script(src="{% static 'js/jquery-3.1.1.js' %}")
    script(src="{% static 'js/bootstrap.min.js' %}")
    script(src="{% static 'js/lodash.js' %}")
    script(src="{% static 'js/timer.js' %}")
    block extra_script
