-extends 'index.pug'
-load i18n static

block extra_script
  script(src="{% static 'js/vue.js' %}")
  script(src="{% static 'js/superagent.js' %}")
  script(src="{% static 'js/done.js' %}")


block content
  #app.popup-container

    .popup.view
      //.left.white

      .right
        .graph-area
          -include 'partials/full_graph.pug'
